/* src/index.css */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* 暴力重置，消除所有默认边距 */
html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* 防止出现滚动条 */
}

/* 修复 Leaflet 地图在某些情况下 z-index 的遮挡问题 */
.leaflet-container {
    width: 100%;
    height: 100%;
    background: #1e1e1e; /* 地图加载还没出来时的背景色，防止白屏刺眼 */
}

/* --- 核心：让无人机图标丝滑移动的关键 CSS --- */
/* 我们给图标加上 transition，这样坐标变化时，它会滑过去而不是瞬移 */
.drone-custom-icon {
    transition: transform 0.1s linear; /* 0.1s 对应我们数据更新的频率 */
}
